.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #000000, #111111); /* Black to very dark gray */
  color: white;
  text-align: center;
  overflow: hidden;
}

.overlay {
  position: relative;
}

.name {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(135deg, #0184ff, #893ee1);
  -webkit-background-clip: text; /* For Safari and older Chrome */
  background-clip: text; /* Standard property */
  color: transparent;
  margin-bottom: 20px;
}

.ctaButton {
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: #893ee1;
  padding: 10px 20px;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: #0184ff;
}

.arrow {
  margin-left: 10px;
  font-size: 1.5rem;
}